{{!-- <h2>Login Page Here</h2> --}}
<div>
    <form action="" id="login-button">
        <div>
            <label for="login-username-input">Enter Username</label>
            <input type="text" id="username-login"/>
        </div>
             <label for="login-password-input">Enter Password</label>
            <input type="text" id="password-login"/>
        </div>
        <button class="btn" type="submit">Login</a></button>
        
        <button>
        <a class="btn" type="button" href="/signup">Sign Up</a>
        </button>
    </form>
</div>
<script src="/js/login.js"></script>