<h2>Login page to be displayed</h2>
<div>
    <form action="">
        <div>
            <label for="login-username-input">Enter Username</label>
            <input type="text" id="login-username-input"/>
        </div>
             <label for="login-password-input">Enter Password</label>
            <input type="text" id="login-password-input"/>
        </div>
        <button type="submit" id="login-button">Login</button>
        <button>

        <a type="button" href="/signup">Sign Up</a>
        </button>
    </form>
</div>
<script src="../public/js/login.js"></script>