{{!-- <h2 class="new-heading">Create a new account</h2> --}}
<div>
    <form action="" id="signup-form">
        <div>
            <label for="signup-username-input">Enter Username</label>
            <input type="text" id="name-signup"/>
        </div>
          <div>
             <label for="signup-email-input">Enter Email</label>
            <input type="text" id="email-signup"/>
        </div>
        <div>
             <label for="signup-password-input">Enter Password</label>
            <input type="text" id="password-signup"/>
        </div>
        <button type="submit">Sign Up</button>
        <button>

        <a type="button" href="/login">Login</a>
        </button>
    </form>
</div>
<script src="/js/signup.js"></script>